
body{
  /* overflow-x: hidden; */
  background-image:url('./astro.png');
  background-repeat:'no-repeat';
  background-size:'contain';
  background-position:'center';
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: space-around;
  padding-top:'2em';
  color:'white'
  
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
  color:'white'
  
}

.contents{
  display: flex;
  padding-left:4em;
  justify-content: space-evenly;
  color:'white'
}

.backgroundphoto{
  width:'50m'
}

/* @media screen and (max-width: 1000px) {
  .backgroundphoto{
    width:'30em'
  }
} */

.sections{

display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}


.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}